html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: #000;
}
.container {
  height: 100vh;
  width: 100vw;
  background: #0b0b0b;
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
